/* COLORS */

:root {
/* CSS HEX */
    --xanthous: #ffc759ff;
    --xanthous-lighter: #ffc75988;
    --poppy: #d33e43ff;
    --glaucous: #607196ff;
    --french-gray: #babfd1ff;
    --antiflash-white: rgb(246, 245, 245);
}

* {
    letter-spacing: 0.4px;
}


body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #333333;
    margin: 0;
    max-width: 100%;
    overflow-x:hidden;
    height: 120vh;
    background-color: white;
}

#title {
    width: 330px;
    padding: 15px 10px;
    margin-left: auto;
    margin-right: auto;
}

#title img {
    width: 100%;
    height: auto;
}

h3{
    font-size: 25px;
    margin: 10px 0px 5px 0px;
}

.wrapper {
    margin: 0 auto;
    text-align: center;
}

#words {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

#words p{
    font-weight: 600;
    margin: 3px;
    letter-spacing: 0.5em;
}

#board {
    width: 320px;
    height: 320px;
    background-color: var(--xanthous-lighter);
    border: 10px solid var(--poppy);

    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    width: 78px;
    height: 78px;
    border: 1px solid var(--poppy);
    cursor: pointer;
    transition:left 0.5s,top 0.5s;
}

#board .tile {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turns-title {
    font-size: 18px;
}