body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #0c67ae;
}

#title {
    height: 150px;
    width: 400px;
}

#board {
    width: 360px;
    height: 360px;
    background-color: lightblue;
    border: 10px solid #0c67ae;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    width: 88px;
    height: 88px;
    border: 1px solid #0c67ae;
    cursor: pointer;
    transition:left 0.3s,top 0.3s;
}