/* COLORS */

:root {
/* CSS HEX */
    --xanthous: #ffc759ff;
    --xanthous-lighter: #ffc75977;
    --poppy: #d33e43ff;
    --poppy-lighter: #d33e4377;
    --glaucous: #607196ff;
    --glaucous-lighter: #60719677;
    --french-gray: #babfd1ff;
    --antiflash-white: rgb(246, 245, 245);
}

* {
    letter-spacing: 0.4px;
}


body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-align: center;
    color: #333333;
    margin: 0;
    max-width: 100%;
    overflow-x:hidden;
    background-color: white;
}

#title {
    width: 330px;
    padding: 15px 10px;
    margin-left: auto;
    margin-right: auto;
}

#title img {
    width: 100%;
    height: auto;
}

h3{
    font-size: 25px;
    margin: 10px 0px 5px 0px;
}

.wrapper {
    margin: 0 auto;
    text-align: center;
}

#words {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

#words p{
    font-weight: 600;
    margin: 3px;
    letter-spacing: 0.5em;
}

#board {
    width: 300px;
    height: 300px;
    background-color: var(--xanthous-lighter);
    border: 10px solid var(--poppy);

    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
}

#board div {
    width: 73px;
    height: 73px;
    border: 1px solid var(--poppy);
    cursor: pointer;
    transition:left 0.5s,top 0.5s;
}

#board .tile {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile:active, .tile:focus {
    background-color: var(--french-gray);
} 

.turns-title {
    font-size: 18px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

footer {
    font-size: 13px;
    padding: 25px;
    text-align: center;
    margin-top: 20vh;
}

.social-wrapper {
    padding-top: 7px;
    padding-bottom: 5px;
}
.social {
    font-size: 24px;
    color: #C13584;
    text-decoration: none;
    
}

.icon-instagram {
    padding-bottom: 2px;
}

.icon-whatsapp{
    margin-right:5px;
    margin-left: -15px;
    font-size: 29px;
    color: #25d366;
}

@media (min-width: 1000px) {
    .tile:hover {
        background-color: var(--french-gray);
    }
}